<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> BattleShip! </title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    div.wrapper {
      background-color: #2d2e2d;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>

  <input type="number" id="cell_count" oninput="inputChange();">

  <div class="wrapper">
    <canvas id="gameboard">

    </canvas>
  </div>

  <script src="/v1/web/static/main.js" type="module"></script>
</body>

</html>
